* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;

}

#container {
    height: 400px;
    width: 400px;
    position: relative;
}

#container img {
    height: 100%;
    border-radius: 10px;
}

#container i {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-size: 50px;
    position: absolute;
    top: 43%;
    right: 50%;
    opacity: 0;
    transform: scale(0);
    transition: all ease-out 0.3s;
}
